.header{
    display: flex;
    width: 1200px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;

}

body{
background-color: rgb(221, 228, 199);


}


.name-mary{
    width: 174px;
}
.main-content{
font-family: Arial, Helvetica, sans-serif;


}
.mail-header{
    display: flex;
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
}

div.mail{
    width: 100px;
}


.user-mail{
    margin-right: 10px;
    margin-top: 5px;
    
}

.user-icon{
    height: 30px;
    width: 30px;
}

.mail{
    margin-left: 10px;
    margin-top: 5px;
}

.user-header{
    display: flex;
margin-left: 900px;
margin-right: 10px;

}


.navigation{
    margin-top: 50px;
    width: 240px;
}

.incoming-nav{
    display: flex;
    height: 40px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.incoming-nav:hover{
    background-color: rgb(158, 68, 52);
}

.incoming{
    margin-top: 10px;
    margin-left: 10px;
}

.outgoing-nav{
    display: flex;
    height: 40px;
    width: 150px;
    margin-bottom: 10px;

}

.outgoing-nav:hover{
    background-color: rgb(158, 68, 52)
}

.outgoing{
    margin-top: 10px;
    margin-left: 10px;
}

.drafts-nav{
    display: flex;
    height: 40px;
    width: 150px;
    margin-bottom: 10px;

}
.drafts-nav:hover{
    background-color: rgb(158, 68, 52)

}
.drafts{
    margin-top: 10px;
    margin-left: 10px;
}

.spam-nav{
    height: 40px;
    width: 150px;
    display: flex;
    margin-bottom: 10px;

}
.spam-nav:hover{
    background-color: rgb(158, 68, 52)
}
.spam{
    margin-top: 10px;
    margin-left: 10px;
}


.main-content{
    display: flex;
    border-top: 1px solid grey;
    width: 1275px;
}

.messages{
    margin-top: 50px;
    display: block;
}

.messages div{
    display: flex;
    margin-top: 15px;
    margin-bottom: 0;
    border-bottom: 0.5px solid grey;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.star{
    margin-top: 10px;
    margin-right: 50px;
    height: 20px;
    width: 20px;
    padding-bottom: 5px;
}

 
.attached{
    margin-left: 110px;
}

.attached-1{
    margin-left: 105px;
    height: 26px;
}

.attached-1-2{
    margin-left: 115px;
}


.date-2{
    margin-left: 509px;
}

.img-1{
    margin-left: 20px;
}
span{
margin-left: 100px;

}

.comments{
    margin-left: 5px;
    margin-left: 42px;
    color: grey;
    
}

.comments-s{
    color: grey;
    display: flex;
    margin-left: 35px;
}
.comments-1{

    margin-left: 5px;
    margin-left: 30px;
    color: grey;
}
.comments-date{

    margin-left: 63px;
    color: grey;
}

.comments-date1{
    margin-left: 63px;
    color: grey;
}

.date{
    margin-left: 519px;
}

.date2{
margin-left: 585px;


}

.birthday{
    margin-left: 62px;
    margin-bottom: 0px;
}

.birthday2{
    margin-left: 90px;
}

p.name{
    margin-bottom: 0px;
    display: flex;
}
.redstar{
    margin-bottom: 5px;
    margin-right: 50px;
}

.star1{
    margin-bottom: 5px;
    margin-right: 50px;
}

.dues{
    margin-left: 94px;
}

.trip{
    margin-left: 105px;
}


.santa{
    margin-left: 100px;
}


 @media(min-width:550px) and (max-width:800px){

   .messages div{
       height: 100px;
       display: block;
       margin-left: 10px;
    }
.trip{
    margin-left: 19px;
    
}
    .comments-1{
        margin-left: 0px;
    }
    .name{
        display: flex;
    }

    .star{
        margin: 0px;
    }
    .comments-1{
        margin-left: 19px;
    }

    .comments-1{
        margin-left: 19px;
    }

    .santa{
        margin-left: 19px;
    }
    .comments{
        margin-left: 19px;
    }

    .star1{
        margin: 0px;
    }

    .birthday{
        margin-left: 19px;

    }

    .redstar{
        margin: 0;

    }

    .birthday2{
        margin-left: 19px;

    }

    .comments-date1{
        margin-left: 19px;

    }
    .dues{
        margin-left: 19px;

    }

    .comments-s{
        margin-left: 19px;

    }
    .comments-date{
        margin-left: 19px;

    }

} 
    

@media (max-width:550px){

    .messages div{
        height: 100px;
        display: block;
        margin-left: 10px;
     }
 .trip{
     margin-left: 19px;
     
 }
     .comments-1{
         margin-left: 0px;
     }
     .name{
         display: flex;
     }
 
     .star{
         margin: 0px;
     }
     .comments-1{
         margin-left: 19px;
     }
 
     .comments-1{
         margin-left: 19px;
     }
 
     .santa{
         margin-left: 19px;
     }
     .comments{
         margin-left: 19px;
     }
 
     .star1{
         margin: 0px;
     }
 
     .birthday{
         margin-left: 19px;
 
     }
 
     .redstar{
         margin: 0;
 
     }
 
     .birthday2{
         margin-left: 19px;
 
     }
 
     .comments-date1{
         margin-left: 19px;
 
     }
     .dues{
         margin-left: 19px;
 
     }
 
     .comments-s{
         margin-left: 19px;
 
     }
     .comments-date{
         margin-left: 19px;
 
     }

    .incoming{
        display: none;
    }

    .outgoing{
        display: none;
    }
    .drafts{
        display: none;
    }
    .spam{
        display: none;
    }
    .navigation{
        width: 100px;
        
    }

    .navigation img{
        margin-left: 20px;
    }
}
